*{
    padding: 0;
    margin: 0;
}
nav img{
    height: 20px;
}
nav{
     padding: 5px 5px 20px 20px;
    background-color: rgba(241, 232, 232, 0.69);
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
    font-size: 12px;
    color: gray;
}
.nav-2{
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav-2 a{
    color: blue;
    text-decoration: none;
}

.main{
    background-color: rgba(231, 227, 227, 0.556);
    height: 100%;
}
.store{
    padding-left: 30px;
}
.text-1{
    height: 250px;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.text-1 p{
    font-size: 60px;
    color: rgb(104, 100, 100);
}
.text-1 b{
    color: black;
}
.span-1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.side-box{
    padding-left: 50px;
}
.span-1 a{
    text-decoration: none;
}
.box-1{
    height: 180px;
    display: flex;
    gap: 20px;
}
.box-1 img{
    height: 100px;
}
.sub-box{
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
 font-weight:600;
}
.latest{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 40px;
    color: rgb(104, 100, 100);
}
.slider{
    padding-left: 30px;
    margin-top: 40px;
    display: flex;
    gap: 20px;
     overflow-x: auto;  /* enable horizontal scroll */
      overflow-y: hidden; /* disable vertical scroll */
      white-space: nowrap; /* keep divs in one line */
}
.slide{
    background-color: white;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
      width: 500px;
      height: 500px;
      font-size: 15px;
     text-align: center;
    }
    .slide:hover{
        border: 2px solid rgb(234, 229, 229);
        width: 600px;
    }
    .slide img{
        height: 400px;
        width: 400px;
    }
    .slide-2{

    }
    .bg-1{
        background-color: black;
        color: white;
    }